<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.repositoryconnector.ArtifactResolver plugin="repository-connector@1.1.3">
      <targetDirectory></targetDirectory>
      <artifacts>
        <org.jvnet.hudson.plugins.repositoryconnector.Artifact>
          <groupId>com.github.sparsick.flyway.demo</groupId>
          <artifactId>demo-web-application</artifactId>
          <classifier></classifier>
          <version>0.0.3-SNAPSHOT</version>
          <extension>war</extension>
          <targetFileName>demo.war</targetFileName>
        </org.jvnet.hudson.plugins.repositoryconnector.Artifact>
      </artifacts>
      <failOnError>true</failOnError>
      <enableRepoLogging>false</enableRepoLogging>
      <snapshotUpdatePolicy>always</snapshotUpdatePolicy>
      <releaseUpdatePolicy>never</releaseUpdatePolicy>
      <snapshotChecksumPolicy>warn</snapshotChecksumPolicy>
      <releaseChecksumPolicy>warn</releaseChecksumPolicy>
    </org.jvnet.hudson.plugins.repositoryconnector.ArtifactResolver>
    <hudson.tasks.Shell>
      <command>cp demo.war /home/sparsick/dev/apache-tomcat-8.5.4/webapps
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>